@model List<Product>

@section Footer {
    <h1>
        footer for only index
    </h1>
}
<div class="row">
@foreach (Product prd in Model)
{

        <partial name="_ProductCard" model="@prd" />
    
}
</div>
