@page
@model StoreApp.Views.Home.IndexModel
@{
}

<h1>Hosgeldin Aras</h1>
<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
    <i class="fa-solid fa-list"></i>
    Products
</a>